<nav class="bg-green-700 p-4">
    <div class="container mx-auto flex justify-between items-center">
        <a href="#" class="text-white text-xl font-bold">mvc</a>
        <div>
            <a href="/home" class="text-green-100 mx-2 hover:text-white">home</a>
            <a href="/create" class="text-green-100 mx-2 hover:text-white">create</a>
        </div>
    </div>
</nav>